[global]
keyboard = "en-us"
country = "us"
fqdn = "${fqdn}"
mailto = "test@test.local"
timezone = "UTC"
root_password = "${root_password}"
reboot_on_error = true
root_ssh_keys = []

[network]
source = "from-dhcp"

[disk-setup]
filesystem = "ext4"
disk_list = ["sda"]

[first-boot]
source = "from-iso"
ordering = "fully-up"
